@inherits umbraco.MacroEngines.DynamicNodeContext
@using UCommerce.Api
@{
	if (IsPost)
	{
		int shippingMethodId = Convert.ToInt32(Request.Form["shippingmethod"]);

		TransactionLibrary.CreateShipment(shippingMethodId, "Shipment", true);

		TransactionLibrary.ExecuteBasketPipeline();
		
		Response.Redirect("PaymentInformation");
	}
	
	var shippingCountry = TransactionLibrary.GetShipmentInformation().Country;
	var shippingMethods = TransactionLibrary.GetShippingMethods(shippingCountry);
}

<form method="post">
@foreach (var shippingMethod in shippingMethods)
{
	<input type="radio" name="shippingmethod" value="@shippingMethod.ShippingMethodId"/> @shippingMethod.Name
}
	<input type="submit" value="Continue to payment selection"/>
</form>