<?xml version="1.0"?>
<configuration>
	<components>
		<component
			id="ToCompleted.ExportOrderToErp"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="MyUCommerceApp.BusinessLogic.Pipelines.ExportOrderToErpSystemTask, MyUCommerceApp.BusinessLogic">
			<parameters>
				<connectionString>c:\ERP\ERP.TXT</connectionString>
			</parameters>
		</component>

		<partial-component id="ToCompletedOrder">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCompleted.ExportOrderToErp}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
		
	</components>
</configuration>
