<?xml version="1.0"?>
<configuration>
	<components>
		<component
			id="QuantityShippingMethodService"
			service="UCommerce.Transactions.Shipping.IShippingMethodService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Shipping.QuantityShippingMethodService, MyUCommerceApp.BusinessLogic" />
	</components>
</configuration>
