<configuration>
	<components>

		<component
			id="ToCompleted.ExportOrderToErpSystem"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="MyUCommerceApp.BusinessLogic.Pipelines.ExportOrderToErpSystem, MyUCommerceApp.BusinessLogic">
			<parameters>
				<connectionString>C:\ERP\ERP.TXT</connectionString>
			</parameters>
		</component>

		<partial-component id="ToCompletedOrder">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCompleted.ExportOrderToErpSystem}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
		
	</components>
</configuration>