<configuration>
	<components>
		<component
			id="vipEmail"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="MyUCommerceApp.BusinessLogic.Pipelines.SendVipEmailTask, MyUCommerceApp.BusinessLogic">
			<parameters>
				<vipThreshold>5000</vipThreshold>
			</parameters>
		</component>

		<partial-component id="Basket">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${vipEmail}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
		
	</components>
</configuration>
