<configuration>
  <components>
		<component id="CommerceConfigurationProvider"
		service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
		type="MyUCommerceApp.BusinessLogic.Integration.InMemoryCommerceConfigurationProvider, MyUCommerceApp.BusinessLogic">
			<parameters>
				<connectionString>server=.;database=U7Dev;user id=sa;password=H3mm3ligT</connectionString>
			</parameters>
		</component>
	</components>
</configuration>