<configuration>
  <components>
    <component
      id="ToCompletedOrder.ExportOrderToErpSystem"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
      type="MyUCommerceApp.BusinessLogic.Pipelines.ExportOrderToErpSystem, MyUCommerceApp.BusinessLogic" />

    <partial-component
      id="ToCompletedOrder">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${ToCompletedOrder.ExportOrderToErpSystem}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
    
  </components>
</configuration>