@inherits umbraco.MacroEngines.DynamicNodeContext
@using UCommerce.Api
	
	@{
		if (IsPost) {
			int shippingMethodId = Convert.ToInt32(Request.Form["shippingMethod"]);
			TransactionLibrary.CreateShipment(shippingMethodId, "Shipment", true);
			TransactionLibrary.ExecuteBasketPipeline();
			
			Response.Redirect("payment");
		}
	}
	
	@{
		var shippingCountry = TransactionLibrary.GetShipmentInformation().Country;
		var shippingMethods = TransactionLibrary.GetShippingMethods(shippingCountry);
		var shipment = TransactionLibrary.GetBasket().PurchaseOrder.Shipments.FirstOrDefault();
		var selectedShippingMethodId = shipment != null ? shipment.ShippingMethod.ShippingMethodId : 0;
	}


<form method="post">
@foreach(var shippingMethod in shippingMethods) {
	int shippingMethodId = shippingMethod.ShippingMethodId;
	<input 
		@(selectedShippingMethodId == shippingMethodId ? "checked" : "") 
		type="radio" name="shippingMethod" 
		value="@shippingMethodId"> @shippingMethod.Name 
}

<input type="submit" value="continue to payment" />
</form>
