<configuration>
	<components>
		<component
			id="TaxService"
			service="UCommerce.Catalog.ITaxService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Pricing.ExtendedTaxService, MyUCommerceApp.BusinessLogic" />

		<component
			id="QuantityShippingMethodService"
			service="UCommerce.Transactions.Shipping.IShippingMethodService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Shipping.QuantityShippingMethodService, MyUCommerceApp.BusinessLogic">
			<parameters>
				<multiplier>10</multiplier>
				<upperPriceLimit>100</upperPriceLimit>
			</parameters>
		</component>
		
	</components>
</configuration>