<!--
	Custom configuration for uCommerce components.
	
	Find the ID of component you want to override
	and use the same ID here. Your component will
	override the default.
	
	You can configure new components here as well
	and have them injected into existing ones.
-->
<configuration>
  <components>
		<component id="DemoStoreWebApi" service="UCommerce.Web.Api.IContainsWebservices, UCommerce.Web.Api" type="UCommerce.RazorStore.Services.AssemblyTag, UCommerce.RazorStore" />

		<component
			id="WebServiceTag"
			service="UCommerce.Web.Api.IContainsWebservices, UCommerce.Web.Api"
			type="MyUCommerceApp.BusinessLogic.Webservices.WebServiceTag, MyUCommerceApp.BusinessLogic" />

		<component
			id="NHibernateMappingTag"
			service="UCommerce.EntitiesV2.IContainsNHibernateMappingsTag, UCommerce"
			type="MyUCommerceApp.BusinessLogic.NHibernateMappings.NHibernateMappingTag, MyUCommerceApp.BusinessLogic" />
		
		<component 
			id="CatalogContext"
			service="UCommerce.Runtime.ICatalogContext, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Sitecontext.ExtendedCatalogContext, MyUCommerceApp.BusinessLogic" />

		<component
			id="Quantity Service"
			service="UCommerce.Transactions.Shipping.IShippingMethodService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Shipping.QuantityShippingService, MyUCommerceApp.BusinessLogic">
			<parameters>
				<unitPrice>10</unitPrice>
			</parameters>
		</component>

		<component
			id="ErpConnector"
			service="MyUCommerceApp.BusinessLogic.Integration.IErpConnector, MyUCommerceApp.BusinessLogic"
			type="MyUCommerceApp.BusinessLogic.Integration.Impl.ErpConnector, MyUCommerceApp.BusinessLogic">
			<parameters>
				<connectionString>c:\ERP\ERP.txt</connectionString>
			</parameters>
		</component>

		<component 
			id="Checkout.ExportOrderToErpSystem"
			service="UCommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="MyUCommerceApp.BusinessLogic.Pipelines.Checkout.ExportOrderToErpSystem, MyUCommerceApp.BusinessLogic"/>
		
		<component id="Checkout"
			 service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			 type="UCommerce.Pipelines.Checkout.CheckoutPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Checkout.ValidatePaymentsMadeAgainstOrderTotal}</value>
						<value>${Checkout.AssignOrderNumber}</value>
						<value>${Checkout.CreateCustomer}</value>
						<value>${Checkout.CreateMemberForCustomer}</value>
						<value>${Checkout.ConvertBasketToPurchaseOrder}</value>
						<value>${Checkout.AddAuditTrailForCurrentOrderStatus}</value>
						<value>${Checkout.SetVoucherUses}</value>
						<value>${Checkout.ClearBasketInformation}</value>
						<value>${Checkout.SavePurchaseOrder}</value>
						<value>${Checkout.ExportOrderToErpSystem}</value>
						<value>${Checkout.SendConfirmationEmail}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<component id="PriceGroupControlFactory"
							 service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
							 type="MyUCommerceApp.BusinessLogic.Datatypes.PriceGroupControlFactory, MyUCommerceApp.BusinessLogic"/>
		
		<component id="TaxService"
							 service="UCommerce.Catalog.ITaxService, UCommerce"
							 type="MyUCommerceApp.BusinessLogic.Pricing.ExtendedTaxService, MyUCommerceApp.BusinessLogic" />
		
	</components>
</configuration>