@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UCommerce.Api
@using UCommerce.EntitiesV2
@{
    Layout = null;
}

<html>
    <head>
    </head>
    <body>
        <a href="/basket">View basket</a>
        @navigation.DisplayCategories(UCommerce.Api.CatalogLibrary.GetRootCategories().ToList())
        @RenderBody()
    </body>
</html>