@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UCommerce.EntitiesV2
@using UCommerce.Api
@{
	Layout = null;
}

<html>
	<head>
	</head>
    <body>
        <a href="/basket">Basket</a>
        @Navigation.DisplayCategories(UCommerce.Api.CatalogLibrary.GetRootCategories().ToList())
        @RenderBody()
    </body>
</html>