@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
	<head>
	</head>
	<body>
		<a href="Basket">Basket</a>
		@Umbraco.RenderMacro("Mc_categoryNavigation")
		@RenderBody()
	</body>
</html>