<!--
	Core configuration for uCommerce components.
-->
<configuration>
	<include uri="Presenters.config" />
	<include uri="DataTypes.config" />
	<include uri="Marketing.config" />
	<include uri="Shipping.config" />
	<include uri="Core.config" />
	<include uri="Search.config" />
	
	<!-- Custom, put your overrides here -->
	<include uri="Custom.config"/>
</configuration>