<configuration>
  <components>
    <component id="UserService"
			service="UCommerce.Security.IUserService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Integration.SingleUserService, MyUCommerceApp.BusinessLogic">
      <parameters>
        <userName>AutomaticTests</userName>
      </parameters>
    </component>
  </components>
</configuration>