<configuration>
		<components>
	
		<component id="CommerceConfigurationProvider"
				service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
				type="MyUCommerceApp.Integration.InMemoryCommerceConfigurationProvider, MyUCommerceApp">
			<parameters>
				<conncetionString>Data Source=.;Initial Catalog=U6;Integrated Security=true;</conncetionString>
			</parameters>
		</component>

		<component id="UserService"
			service="UCommerce.Security.IUserService, UCommerce"
			type="MyUCommerceApp.Integration.SingleUserService, MyUCommerceApp">
			<parameters>
				<userName>AutomaticTests</userName>
			</parameters>
		</component>
	
	</components>
</configuration>
