<configuration>
    <components>
      <component
        id="PriceGroupControlFactory"
        service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
        type="MyUCommerceApp.BusinessLogic.Datatypes.PriceGroupControlFactory, MyUCommerceApp.BusinessLogic" />
    </components>
</configuration>
